#buttonTrangChuCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXacNhanDangKyTamVangCanBo {
    -fx-background-color: #441151
}

#buttonXacNhanDangKyTamVangCanBo:hover {
    -fx-background-color: #34e017;
}

#buttonHuyXacNhanDangKyTamVangCanBo {
    -fx-background-color: #441151
}

#buttonHuyXacNhanDangKyTamVangCanBo:hover {
    -fx-background-color: #c92727;
}

