#anchorPaneChinhCanBo{
    -fx-background-color: linear-gradient(#7758D1 2%,  #F7CBFD 40%);
}
#buttonHomeAdmin{
    -fx-background-color:rgba(4, 57, 244, 0.95)
}
#buttonHomeAdmin:hover{
    -fx-background-color:rgba(4, 57, 244, 0.95)
}
