#buttonTrangChuHoGiaDinh {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuHoGiaDinh:hover {
    -fx-background-color: #20a4f3
}

#buttonNhanKhauHoGiaDinh {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauHoGiaDinh:hover {
    -fx-background-color: #20a4f3
}

#buttonHoKhauHoGiaDinh {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauHoGiaDinh:hover {
    -fx-background-color: #20a4f3
}

#buttonGiaiThuongHoGiaDinh {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongHoGiaDinh:hover {
    -fx-background-color: #20a4f3
}

#buttonDangXuatHoGiaDinh {
    -fx-background-color: #441151
}

#buttonDangXuatHoGiaDinh:hover {
    -fx-background-color: #CA61C3;
}

#buttonXacNhanThemMoiTamTruHoGiaDinh {
    -fx-background-color: #441151
}

#buttonXacNhanThemMoiTamTruHoGiaDinh:hover {
    -fx-background-color: #34e017;
}

#buttonHuyThemMoiTamTruHoGiaDinh {
    -fx-background-color: #441151
}

#buttonHuyThemMoiTamTruHoGiaDinh:hover {
    -fx-background-color: #c92727;
}

#anchorPaneChinhDangKyTamTruHoGiaDinh {
    -fx-background-color: #DBBFBD;
}