#buttonTrangChuCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95);
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonLocThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonLocThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonTuChoiThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonTuChoiThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThemMoiThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonThemMoiThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonPheDuyetThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonPheDuyetThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXoaThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonXoaThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThoatThongTinDipDacBietCanBo {
    -fx-background-color: #441151;
}

#buttonThoatThongTinDipDacBietCanBo:hover {
    -fx-background-color: #CA61C3;
}