#buttonTrangChuThuQuy {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuThuQuy:hover {
    -fx-background-color: #20a4f3
}


#buttonGiaiThuongThuQuy {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongThuQuy:hover {
    -fx-background-color: #20a4f3;
}

#anchorPaneChinhThuQuy {
    -fx-background-color: #DBBFBD;
}

#buttonDangXuatThuQuy {
    -fx-background-color: #441151
}

#buttonDangXuatThuQuy:hover {
    -fx-background-color: #CA61C3;
}

#buttonThongKeThuQuy{
    -fx-background-color: rgba(8, 101, 155, 0.75);
}
#buttonThongKeThuQuy:hover{
    -fx-background-color: #20a4f3;

}
#buttonChonPhanQuaDipDacBietThuQuy{
    -fx-background-color: #441151

}
#buttonTraoThuongChoTatCaGiaiThuongThuQuy{
    -fx-background-color: #441151

}
#buttonChonPhanQuaDipDacBietThuQuy:hover{
    -fx-background-color: #CA61C3;

}
#buttonTraoThuongChoTatCaGiaiThuongThuQuy:hover{
    -fx-background-color: #CA61C3;

}
#buttonXoaDipDacBietThuQuy{
    -fx-background-color: #441151;

}
#buttonXoaDipDacBietThuQuy:hover{
    -fx-background-color: #CA61C3;
}