#buttonTrangChuCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#menuButtonAwardAdmin {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#menuButtonAwardAdmin:hover {
    -fx-background-color: #20a4f3;
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: #20a4f3
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonLocThongTinHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonLocThongTinHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThemHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonThemHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;;
}


#buttonTachHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonTachHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXoaHoKhauCanBo {
    -fx-background-color: #441151
}

#buttonXoaHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;;
}