#buttonHomeAdmin {
    -fx-background-color: rgb(40, 132, 217);
}

#buttonHomeAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonPeopleAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonPeopleAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonUserAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonUserAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#menuButtonAwardAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#menuButtonAwardAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95);
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#anchorPaneChinhCanBo {
    -fx-background-color: linear-gradient(#7758D1 2%, #F7CBFD 40%);
}

#buttonLogoutAdmin {
    -fx-background-color: black
}

#buttonLogoutAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonLocThongTinHoKhauCanBo {
    -fx-background-color: black;
}

#buttonLocThongTinHoKhauCanBo:hover {
    -fx-background-color: #177306;
}

#buttonNewUserAdmin {
    -fx-background-color: black;
}

#buttonNewUserAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonSplitUserAdmin {
    -fx-background-color: black;
}

#buttonSplitUserAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonRemoveUserAdmin {
    -fx-background-color: black;
}

#buttonRemoveUserAdmin:hover {
    -fx-background-color: #BF3fBF;
}

#buttonThemHoKhauCanBo {
    -fx-background-color: black;
}

#buttonThemHoKhauCanBo:hover {
    -fx-background-color: #BF3fBF;;
}


#buttonTachHoKhauCanBo {
    -fx-background-color: black;
}

#buttonTachHoKhauCanBo:hover {
    -fx-background-color: #BF3fBF;;
}

#buttonXoaHoKhauCanBo {
    -fx-background-color: black
}

#buttonXoaHoKhauCanBo:hover {
    -fx-background-color: #BF3fBF;;
}