#buttonHomeAdmin {
    -fx-background-color: rgb(40, 132, 217);
}

#buttonHomeAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonPeopleAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonPeopleAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonUserAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonUserAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#menuButtonAwardAdmin {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#menuButtonAwardAdmin:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95);
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#anchorPaneChinhCanBo {
    -fx-background-color: linear-gradient(#7758D1 2%, #F7CBFD 40%);
}

#buttonLocThongTinHoKhauCanBo {
    -fx-background-color: black;
}

#buttonLocThongTinHoKhauCanBo:hover {
    -fx-background-color: #177306;
}

#buttonLogoutAdmin {
    -fx-background-color: black;
}

#buttonLogoutAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonNewPeopleAdmin {
    -fx-background-color: black;
}

#buttonNewPeopleAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonTemporaryRegistrationPeoppleAdmin {
    -fx-background-color: black;
}

#buttonTemporaryRegistrationPeoppleAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonAbsentRegistrationAdmin {
    -fx-background-color: black;
}

#buttonAbsentRegistrationAdmin:hover {
    -fx-background-color: #BF3FBF;
}

#buttonRemovePeopleAdmin {
    -fx-background-color: #000000;
}

#buttonRemovePeopleAdmin:hover {
    -fx-background-color: #BF3FBF;
}