#buttonTrangChuCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: #20a4f3
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonLocThongTinHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonLocThongTinHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151;
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThemNhanKhauCanBo {
    -fx-background-color: #441151;
}

#buttonThemNhanKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonTamVangCanBo {
    -fx-background-color: #441151;
}

#buttonTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonTamTruCanBo {
    -fx-background-color: #441151;
}

#buttonTamTruCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXacNhanNhanKhauCanBo {
    -fx-background-color: #441151;
}

#buttonXacNhanNhanKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonTuChoiNhanKhauCanBo {
    -fx-background-color: #441151;
}

#buttonTuChoiNhanKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXoaNhanKhauCanBo {
    -fx-background-color: #441151;
}

#buttonXoaNhanKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}