#paneSplitUserCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonChapNhanTachHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonChapNhanTachHoKhauCanBo:hover {
    -fx-background-color: #34e017;
}

#buttonKhongChapNhanTachHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonKhongChapNhanTachHoKhauCanBo:hover {
    -fx-background-color: #c92727;
}

#buttonOKTachHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonOKTachHoKhauCanBo:hover {
    -fx-background-color: #CA61C3;
}
