#buttonTrangChuCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: #20a4f3
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(8, 101, 155, 0.75);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: #20a4f3;
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonLocThongTinTamVangCanBo {
    -fx-background-color: #441151;
}

#buttonLocThongTinTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThemMoiTamVangCanBo {
    -fx-background-color: #441151
}

#buttonThemMoiTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXacNhanTamVangCanBo {
    -fx-background-color: #441151
}

#buttonXacNhanTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonTuChoiTamVangCanBo {
    -fx-background-color: #441151
}

#buttonTuChoiTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonXoaTamVangCanBo {
    -fx-background-color: #441151
}

#buttonXoaTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonThoatTamVangCanBo {
    -fx-background-color: #441151
}

#buttonThoatTamVangCanBo:hover {
    -fx-background-color: #CA61C3;
}
