#buttonTrangChuCanBo {
    -fx-background-color: rgb(40, 132, 217);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#anchorPaneChinhCanBo {
    -fx-background-color: linear-gradient(#7758D1 2%, #F7CBFD 40%);
}

#buttonDangXuatCanBo {
    -fx-background-color: black;
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #BF3FBF;
}

#buttonXacNhanThemMoiNhanKhau {
    -fx-background-color: black;
}

#buttonHuyThemMoiNhanKhau {
    -fx-background-color: black;
}

#buttonXacNhanThemMoiNhanKhau:hover {
    -fx-background-color: #177306;
}

#buttonHuyThemMoiNhanKhau:hover {
    -fx-background-color: #910c0c;
}
