#buttonTrangChuCanBo {
    -fx-background-color: rgb(40, 132, 217);
}

#buttonTrangChuCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonNhanKhauCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonNhanKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonHoKhauCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonHoKhauCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#buttonGiaiThuongCanBo {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}

#buttonGiaiThuongCanBo:hover {
    -fx-background-color: rgba(4, 57, 244, 0.95)
}

#anchorPaneChinhCanBo {
    -fx-background-color: #DBBFBD;
}

#buttonDangXuatCanBo {
    -fx-background-color: #441151;
}

#buttonDangXuatCanBo:hover {
    -fx-background-color: #CA61C3;
}

#buttonDangKyHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonHuyDangKyHoKhauCanBo {
    -fx-background-color: #441151;
}

#buttonDangKyHoKhauCanBo:hover {
    -fx-background-color: #34e017;
}

#buttonHuyDangKyHoKhauCanBo:hover {
    -fx-background-color: #c92727;
}
