#buttonTrangChuHoGiaDinh{
    -fx-background-color: rgba(0, 53, 240, 0.7);
}
#buttonTrangChuHoGiaDinh :hover{
    -fx-background-color: rgba(4, 57, 244, 0.95)
}
#buttonNhanKhauHoGiaDinh {
    -fx-background-color: rgba(0, 53, 240, 0.7);
}
#buttonNhanKhauHoGiaDinh:hover{
    -fx-background-color: rgba(4, 57, 244, 0.95)
}
#buttonGiaiThuongHoGiaDinh{
    -fx-background-color: rgba(0, 53, 240, 0.7);
}
#buttonGiaiThuongHoGiaDinh:hover{
    -fx-background-color: rgba(4, 57, 244, 0.95)
}
#buttonDangXuatHoGiaDinh{
    -fx-background-color: black
}
#buttonDangXuatHoGiaDinh:hover{
    -fx-background-color: #BF3FBF;
}
#anchorPaneChinhHoGiaDinh{
    -fx-background-color: linear-gradient(#7758D1 2%, #F7CBFD 40%);
}